<div class="home-callout text-center container-fluid">
    <h1>Welcome!</h2>
    <h3>
        South Central Church of Christ is a congregation of followers of Jesus Christ that meets on the south side of Indianapolis.
        We are dedicated to connecting with God, growing spiritually, and loving our neighbors. We are not perfect people, but we serve
        a perfect God!
    </h3>
</div>

