<div class="home-callout text-center container-fluid">
    <h1>Welcome!</h2>
    <h3 class="container text-center">
        South Central Church of Christ is a congregation of followers of Jesus Christ meeting on the south side of Indianapolis.
        We are dedicated to connecting with God, growing spiritually, and loving our neighbors. We are not perfect people, but we serve
        a perfect God!
    </h3>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Sunday AM</h4>
                    <p class="list-group-item-text">Bible Study at 9:00am</p>
                    <p class="list-group-item-text">Worship at 10:00am</p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Sunday PM</h4>
                    <p class="list-group-item-text">Worship at 6:00pm</p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Wednesday</h4>
                    <p class="list-group-item-text">Bible Study at 7:00pm</p>
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">Address</h4>
                    <p class="list-group-item-text">265 E. Southport Rd, Indianapolis, IN 46227</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="/ChurchImage.png" alt="South Central Church of Christ - Indianapolis, IN" style="border-radius: 5px; width: 100%">
        </div>
    </div>
</div>

